<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DISPLAY_WEBPAGES</h1>
        <table border="3px">
            <tr>
                <th>pk value</th>
                <th>Topic_Name</th>
                <th>Name</th>
                <th>Url</th>
                <th>Email</th>
            </tr>
            {% for wo in webpage %}
            <tr>
                <td>{{wo.pk}}</td>
                <td>{{wo.Topic_Name}}</td>
                <td>{{wo.Name}}</td>
                <td>{{wo.Url}}</td>
                <td>{{wo.Email}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>